<div class="container">
  <h1><span *ngIf="esEdicion == false">Creación</span><span *ngIf="esEdicion == true">Edición</span> de Proyectos</h1>
  <form [formGroup]="project" (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card" style="padding: 1em 2em;">
      <mat-card-content class="mat-card">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Nombre del Proyecto
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
            >
              <input
                matInput
                aria-label="nombre"
                type="text"
                maxlength="1000"
                required
                formControlName="nombre"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Presupuesto
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
            >
              <input
                matInput
                aria-label="presupuesto"
                type="text"
                maxlength="1000"
                required
                formControlName="presupuesto"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Fecha
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field class="full-width">
              <input
              matInput
              [matDatepicker]="picker"
              aria-label="fechaCreacion"
              type="text"
              formControlName="fechaCreacion"
              required
              >
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Ciudad
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
            >
              <input
                matInput
                aria-label="ciudad"
                type="text"
                maxlength="1000"
                required
                formControlName="ciudad"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Cliente
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
            >
              <input
                matInput
                aria-label="cliente"
                type="text"
                maxlength="1000"
                required
                formControlName="cliente"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Propietario
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
            >
              <input
                matInput
                aria-label="propietario"
                type="text"
                maxlength="1000"
                required
                formControlName="propietario"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="text-center" style="display: flex;justify-content: center;">
      <button
        mat-button
        color="warn"
        class="btn-table animatedOpacity info-button min-w-11em"
        type="submit"
        (click)="onSubmit()"
        [disabled]="project.invalid"
      >
      <mat-list-item>
        <mat-icon mat-list-icon>save</mat-icon>
        <span class="menu-item"><span *ngIf="esEdicion == false">Crear</span><span *ngIf="esEdicion == true">Modificar</span> Proyecto</span>
      </mat-list-item>
      </button>
    </div>
  </form>
</div>

