mat-grid-tile {
  background: lightblue;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title-section{
  position: absolute;
  font-size: 3em;
  font-weight: bold;
  background: #00448c ;
  color: #f1bf00;
  letter-spacing: 4px;
  text-transform: uppercase;
}
