<div class="container-fluid">
  <mat-grid-list cols="2" rowHeight="1:1" style="opacity: 0.8">
    <mat-grid-tile [colspan]="1" [rowspan]="1" style="cursor:pointer; opacity: 0.8;">
      <img src="assets/img/ffie3.jpg">
      <mat-list-item routerLink="/crear-pago" class="title-section">
        <span class="menu-item">Crear Pago</span>
      </mat-list-item>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" style="cursor:pointer; opacity: 0.8;">
      <img src="assets/img/ffie1.jpg">
      <mat-list-item routerLink="/administrar-pagos" class="title-section">
        <span class="menu-item">Administrar Pagos</span>
      </mat-list-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
