<div class="container">
  <h1>Consulta de Proyectos</h1>
  <div class="busqueda">
    <mat-form-field appearance="outline" class="busqueda--input">
        <mat-label>Buscador / Filtro</mat-label>
        <input matInput #filtro (keyup)="applyFilter($event)">
    </mat-form-field>
  </div>
  <section class="d-flex justify-content-center table-responsive tabla-gris">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element" align="center">{{ element.nombre }}</td>
      </ng-container>
      <ng-container matColumnDef="padres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Padres</th>
        <td mat-cell *matCellDef="let element" align="center">{{ element.padres }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

