<div class="container-fluid">
  <mat-grid-list cols="2" rowHeight="1:1" style="opacity: 0.8">
    <mat-grid-tile [colspan]="1" [rowspan]="1" style="cursor:pointer; opacity: 0.8;">
      <img src="assets/img/ffie6.jpg">
      <mat-list-item routerLink="/crear-proyecto" class="title-section">
        <span class="menu-item">Crear Proyecto</span>
      </mat-list-item>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" style="cursor:pointer; opacity: 0.8;">
      <img src="assets/img/ffie2.jpg">
      <mat-list-item routerLink="/administrar-proyectos" class="title-section">
        <span class="menu-item">Administrar Proyecto</span>
      </mat-list-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
