<div class="container">
  <h1>Creación/Edición de pagos</h1>
  <form [formGroup]="pago" (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card" style="padding: 1em 2em;">
      <mat-card-content class="mat-card">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Nombre del pago
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
            >
              <input
                matInput
                aria-label="nombre"
                type="text"
                maxlength="1000"
                required
                formControlName="nombre"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Proyecto Asociado
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field>
              <mat-label>Proyectos</mat-label>
              <mat-select  formControlName="idProyecto">
                <mat-option *ngFor="let team of teams" [value]="team.idProyecto">
                  {{team.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Valor
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
            >
              <input
                matInput
                aria-label="valor"
                type="text"
                maxlength="1000"
                required
                formControlName="valor"
                required
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Fecha del pago
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field class="full-width">
              <input
              matInput
              [matDatepicker]="picker"
              aria-label="fechaPago"
              type="text"
              formControlName="fechaPago"
              required
              >
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Pagador
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
            >
              <input
                matInput
                aria-label="pagador"
                type="text"
                maxlength="1000"
                required
                formControlName="pagador"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="text-center">
      <button
        mat-button
        color="warn"
        class="btn-guardar"
        type="submit"
        (click)="onSubmit()"
        [disabled]="pago.invalid"
      >
      <mat-list-item>
        <mat-icon mat-list-icon>save</mat-icon>
        <span class="menu-item">Crear Pago</span>
      </mat-list-item>
      </button>
    </div>
  </form>
</div>

