.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: $mainColor;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: $mainColor;
}

.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: $secondaryColor;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent[disabled],
.mat-raised-button[disabled][disabled] {
  background-color: $tertiaryColor;
  color: $tertiaryColorFont;

  &:not([disabled]):hover {
    background-color: $grayColor;
    color: $mainColor;
  }
}

.mat-button.mat-primary[disabled],
.mat-raised-button[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-button:hover .mat-button-focus-overlay {
  opacity: 0.8;
}

.mat-button.mat-primary[disabled] {
  color: $mainColor;
}

button.mat-raised-button {
  line-height: 24px;
  padding: 0 1.5em;
}

.btn-descargar {
  margin-top: 2em;
  margin-bottom: 2em;

  &--img {
    height: 1.5em;
    margin-right: 0.2em;
  }
}

.input-file {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  color: $mainColor;

  &--text {
    border: solid 0.5px;
    padding: 0.5em;
    border-radius: 0.7em;
    height: 20px;
    width: 40em;
    max-width: calc(100% - 9em);
    margin-right: 0.5em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.btn-guardar {
  img {
    height: 1.5em;
  }

  &:disabled {
    opacity: 0.7;
  }
}

.btn-descargar-plantilla,
.btn-eliminar {
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 0.8em;

  img {
    height: 2em;
    margin-top: -0.2em;
    margin-right: 0.3em;

    &.height-basu {
      height: 1.8em;
    }
  }
}

.btn-buscar {
  img {
    height: 2.2em;
  }
}

button.btn-calendario {
  padding: 0;
  min-width: 2.2em;
  margin-left: 0.65em;

  img {
    height: 2em;
    border: solid 1px $mainColor;
    border-radius: 50%;
  }

  &:hover::before {
    @extend %tooltip;
    content: 'Haga clic en el calendario';
    bottom: 2.5em;
  }
}

.mat-dialog-actions {
  justify-content: center;
}

.mat-dialog-actions button {
  background-color: $mainColor;
  color: white;
}

.mat-button.btn-sino,
.mat-button.btn-sino + .mat-button {
  line-height: 1.8;
  padding: 0 2em;
  // margin-bottom: 2em;
}

a[target='_blank'] {
  color: $fontColor;
  text-decoration: none;
}

.menu {
  &--button {
    display: flex;
    align-items: center;
    border: solid 1px;
    border-color: $mainColor;
    border-radius: 1.5em;
    margin-left: 2.2em;
    background-color: #fff;
    transition: background-color 0.3s;
    text-decoration: none;

    &:hover {
      background-color: #d1d1d1;
      background-color: var(--grayColor);
      text-decoration: none;
    }

    > img {
      height: 7em;
      transform: translateX(-2.2em);
    }
  }

  &--span {
    text-align: center;
    font-weight: 500;
    color: $mainColor;
    font-size: 1.5em;
    margin-left: -1.45em;
    padding: 0 0.5em;
    width: 100%;
  }
}

.ruta-url[target='_blank'] {
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: $mainColor;
  text-decoration: underline;

  .tabla-gris &  {
    color: $fontColor;
  }

  &.max-width-none {
    max-width: none;
  }
}