.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.mat-card .mat-input-element {
  color: $mainColor;
  font-weight: 400;
}

.iniciarSesion,
.recuperar-pass {
  .mat-form-field-empty.mat-form-field-label {
    transform: translateY(5px);
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-0.9em) scale(0.75);
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $mainColor;
}

.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow,
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: $secondaryColor;
}

label.mat-form-field-label {
  font-weight: 500;
  color: $mainColor;
}

input.mat-input-element {
  text-align: center;
  font-weight: 400;
  color: $mainColor;
}

mat-form-field {
  width: 100%;

  .ver-contrasena {
    height: 2.2em;
    img {
      height: 1.2em;
      margin-top: -0.5em;
    }
  }

  mat-label {
    font-weight: 500;
  }
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
  bottom: 0 !important; //no pude sobreescribir usando especificidad
}

.label-left {
  font-weight: 500;
  display: inline-block;
  margin-top: 0.5em;
}

.mat-form-field-infix {
  border-top: 0;
}

.mat-select-value {
  color: $mainColor;
  text-align: center;
  padding-right: 1em;
}

.mat-select-disabled .mat-select-value {
  color: $mainColor;
}

.mat-select-trigger {
  width: calc(100% + 2.5em);
}

.mat-select-arrow-wrapper {
  position: relative;
  right: 0;
  top: 0.2em;

  &:hover::before {
    @extend %tooltip;
    content: 'Lista desplegable de selección única';
    .mat-table &,
    .mat-card & {
      right: -12em;
    }
    .col-md-8 & {
      right: auto;
    }
    .mat-paginator & {
      content: none;
    }

    [multiple] & {
      content: 'Lista desplegable de selección múltiple';
      .mat-paginator & {
        content: none;
      }
    }
  }
}

div.mat-select-arrow {
  color: $mainColor;
  border-left: 0.55em solid transparent;
  border-right: 0.55em solid transparent;
  border-top: 1em solid;
  margin: 0 4px;
}

.select-width {
  width: calc(100% - 2.9em);

  td & {
    padding-right: 3em;
  }
}

.contador {
  color: $mainColor;
  font-weight: 500;
  height: 2em;
  width: 2em;
  min-width: 2em;
  border-radius: 50%;
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.8em;

  &.miles {
    height: 2.4em;
    min-width: 2.4em;
    margin-left: 0.4em;
    transform: translateY(-5px);

    & + .icon-incompleto {
      transform: translateY(-5px);
    }
  }
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin-bottom: -0.8em;
}

.radioInput > .mat-radio-button {
  display: inline-block;
  margin: 5px 0.5em;
}

.sub-label {
  font-weight: 600;
  color: $mainColor;
  margin-left: 1em;
  margin-right: 0.5em;

  &.color-secondaryColor {
    color: $secondaryColor;
  }
}

.mat-form-field input:required ~ .mat-form-field-label-wrapper::after {
  content: '*';
  position: absolute;
  right: 0;
  top: 45%;
  font-weight: 600;
  color: $mainColor;
}

.mat-select[required]::after {
  content: '*';
  position: absolute;
  right: 0;
  font-weight: 600;
  top: 25%;
  color: $mainColor;

  .mover-required & {
    right: -8px;
    top: 2px;
  }

  .right-igual-quill & {
    right: 0.9em;
  }
}

.mat-placeholder-required {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  text-align: center;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  opacity: 0;
}

.required-form-group {
  font-weight: 600;
  margin-left: -0.5em;
  color: $mainColor;
}

.table-checkbox {
  padding: 0.5em;

  &.radio {
    .mat-checkbox-background,
    .mat-checkbox-frame {
      border-radius: 50%;
      border: $mainColor 1.5px solid;
    }
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      box-shadow: 0 0 0 1px #fff, 0 0 0 2px $mainColor;
    }

    .mat-checkbox-checked .mat-checkbox-checkmark {
      display: none;
    }
  }

  &.invalid {
    .mat-checkbox-frame {
      border-color: $secondaryColor;
    }
  }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $mainColor;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $mainColor;
}

.calendar-class .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent !important;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: $mainColor !important;
}

.sin-contador {
  padding-right: 2.9em;
}
/* lo vole jflorez
.mat-form-field input:required ~ .mat-form-field-label-wrapper::after {
    content: '';
}*/
.mat-form-field.nocontent input:required ~ .mat-form-field-label-wrapper::after {
  content: '';
}

.radio-color-detalle {
  $mainColor: $fontColor !important;
}

.required {
  &-quill {
    position: relative;
    transform: translate(0.4em, 1.55em);
    font-weight: 600;
  }
  &-calendar {
    position: absolute;
    transform: translate(0.3em, 0.8em);
    font-weight: 600;
  }
}

.select-table {
  position: relative;
  width: 6.5em;
  .mat-select-arrow-wrapper {
    right: 2.5em;
    top: -4em;
  }
  &--5 {
    .mat-select-arrow-wrapper {
      right: calc(50% + 5px);
    }
  }
}

.spacing-0 {
  border-spacing: 0;
}

.info-url {
  display: block;
  text-align: center;
  font-size: 0.85em;
  color: var(--fontColor);
  font-style: italic;
}

.mat-sin-borde .mat-form-field-underline {
  background-color: transparent;
}

.noBorderForm {
  height: 0px;
}

.noBorderForm:focus {
  height: 0px;
}

.icon-incompleto {
  min-width: 30px;
  max-height: 30px;
  margin-left: 0.3em;
  display: inline-block;

  .mat-form-field ~ & {
    transform: translateY(0) !important;
  }

  .col + & {
    margin-left: -16px;
  }

  &--img {
    height: 2em;
    border: solid 1px $secondaryColor;
    border-radius: 50%;

    animation-duration: 0.6s;
    animation-name: animatedRequired;
  }
}
