.tabs--actions {
  text-align: center;
  margin-bottom: 3em;

  .tabs--btn {
    padding: 0.5em 2em;
    box-shadow: none;
    border: solid 1px #fff;
    @media only screen and (max-width: 24em) {
      width: 100%;
    }
    @media only screen and (min-width: 64em) {
      width: 25%;
    }

    &.active {
      background-color: #0a244f;
      z-index: 1;
      color: #fff;
    }
  }
}
