$mainColor: #3366cc;
$secondaryColor: #e6effd;
$tertiaryColor: #008e65;
$tertiaryColorFont: #604500;
$grayColor: #d1d1d1;
$grayColor-2: #EAEAEA;
$fontColor: #474747;
$titleColor: $mainColor;

// media query
/*
    $breakpoint-tablet: 48em;
    $breakpoint-desktop: 64em;
    $breakpoint-desktop-lg: 75em;
*/

:root {
    --mainColor: #3366cc;
    --secondaryColor: #e6effd;
    --tertiaryColor: #008e65;
    --tertiaryColorFont: #604500;
    --grayColor: #d1d1d1;
    --grayColor-2: #EAEAEA;
    --fontColor: #474747;
    --titleColor: var(--mainColor);
}

.var-main-gris {
    --mainColor: var(--fontColor);
}
